* {
    box-sizing: border-box;
  }


body {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "nav"
    "welcome-section"
    "projects"
    "contact"
    "footer";
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    text-decoration: none;
}

nav {
    grid-area: nav;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
}


.menulink {
    
    display: block;
    float: right;
    height: auto;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.5s ease-in;

}

.menulink:hover {
    color: khaki;
  
}






#welcome-section {
 
    margin-top: 45px;
    border: 1px solid khaki;
    grid-area: welcome-section;
    background-color: khaki;
}

#welcome {
    height: fit-content;
    font-size: 2rem;
    text-align: center;
}

.projects-header {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: rgb(59, 52, 52);
    margin:auto;
}

#projects {
   
    background-color: plum;
    grid-area: projects;
    padding-bottom: 1rem;
    margin: auto;
   
    
}

#projects-grid {
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 70%;
    margin: auto;
    gap: 1rem;
    column-gap: 20px;
    padding: 1rem;
   
} 

@media screen and (max-width: 800px) {
    #projects-grid {
   
        display: grid;
        grid-template-columns: auto;
        
       
    
        
    } 
}


.project-tile {
    display: block;
    


}

.img1  {
    display: block;
 
    margin: auto;
    width: 400px;
    height: 200px;
   
}

.descbox {
    display: block;
    background-color: grey;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    color: white;
    max-width: 400px;
    font-size: 2em;
  
}

.code {
    color: grey;
    transition: color 0.4s ease-in;
}

.project-tile:hover .code {
    color: rgb(205, 50, 50);
}



.button_show {
  
    display: block;
    cursor: pointer;
    margin: auto;
    padding: 1rem;
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid lightcoral;
    
    
}

.button_show:hover {
    border: 1px solid black;
    background-color: rgb(230, 87, 87);
    transition: 0.5s;
}


.contact_div {

    grid-area: contact;
    font-size: 1.5rem;
    display: block;
    background-color: pink;
    width: auto;
    text-align: center;
    margin: auto;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: pink;
    border-top: 3px solid #bbb;
    border-radius: 5px;
}